<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="{{ "/images/favicon.png" | absolute_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}
        <p>The 14th International <wbr> Modelica Conference <br> Linköping, September 20-24, 2021</p>
        <p>
        <a href="{{ "/practical.html" | absolute_url }}">[Practical Information]</a>
        <a href="{{ "/vendor_tutorial.html" | absolute_url }}">[Tutorials and Vendor Sessions]</a>
        <a href="{{ "/proceedings/" | absolute_url }}">[Proceedings]</a>
        <a href="{{ "/libraries.html" | absolute_url }}">[Modelica Libraries]</a>
        <a href="{{ "/fmi-user-meeting.html" | absolute_url }}">[FMI User Meeting]</a>
        <a href="{{ "/archives.html" | absolute_url }}">[Archives]</a>
        <a href="https://www.mdpi.com/journal/electronics/special_issues/Modelica_2021">[Journal Special Issue (open for submissions until 2022-07-31)]</a>
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <h4>Gold sponsors</h4>
        <p>
          <div style="margin:auto;width:360px;">
            <a style="border-bottom: 0px solid #ccc;" href="https://www.3ds.com/"><img style="padding:5px;height:40px;width:auto;" src="/images/3ds-dark.svg" alt="Dassault Systèmes, The 3DEXPERIENCE Company" /></a>
            <a style="border-bottom: 0px solid #ccc;" href="https://juliacomputing.com/"><img style="padding:5px;height:40px;width:auto;" src="/images/Julia Computing Logo.svg" alt="Julia Computing" /></a>
            <a style="border-bottom: 0px solid #ccc;" href="https://www.ltx.de/"><img style="padding:5px;height:35px;width:auto;" src="/images/ltx_logo_4c.svg" alt="LTX" /></a>
          </div>
        </p>
        <h4>Silver sponsors</h4>
        <p>
          <div style="margin:auto;width:360px;">
            <a style="border-bottom: 0px solid #ccc;" href="https://www.claytex.com/"><img style="padding:5px;height:26px;width:auto;" src="/images/claytex_logo_mediumres.jpg" alt="Claytex" /></a>&nbsp;
            <a style="border-bottom: 0px solid #ccc;" href="https://www.maplesoft.com/"><img style="padding:3px;height:30px;width:auto;" src="/images/maplesoft-medium.jpg" alt="Maplesoft" /></a>&nbsp;
            <a style="border-bottom: 0px solid #ccc;" href="https://www.modelon.com/"><img style="padding:5px;height:26px;width:auto;" src="/images/Modelon_2018_Flat_RGB.svg" alt="Modelon" /></a>&nbsp;
            <a style="border-bottom: 0px solid #ccc;" href="https://www.tlk-thermo.com/"><img style="padding:5px;height:26px;width:auto;" src="/images/TLK-Thermo_Claim_300dpi.png" alt="TLK-Thermo" /></a>&nbsp;
            <a style="border-bottom: 0px solid #ccc;" href="https://www.toshiba.com/"><img style="padding:5px;height:auto;width:100px;" src="/images/toshiba-trim.png" alt="Toshiba" /></a>&nbsp;
            <a style="border-bottom: 0px solid #ccc;" href="https://www.wolfram.com/system-modeler/"><img style="padding:5px;height:26px;width:auto;" src="/images/WolframSystemModeler.svg" alt="Wolfram SystemModeler" /></a>
          </div>
        </p>
        <h4>Organized by</h4>
        <p>
          <div style="margin:auto;width:360px;">
            <a style="border-bottom: 0px solid #ccc;" href="https://www.ida.liu.se/~pelab"><img style="padding:5px;height:34px;width:auto;" src="/images/liu.svg" alt="LiU Linköping University" /></a>&nbsp;
            <a style="border-bottom: 0px solid #ccc;" href="https://ri.se/en"><img style="padding:5px;height:34px;width:auto;" src="/images/RISE.svg" alt="RI.SE Research Institutes of Sweden" /></a>
            <a style="border-bottom: 0px solid #ccc;" href="http://www.modelica.org"><img style="padding:5px;height:40px;width:auto;" src="/images/ModelicaLogo.svg" alt="Modelica Association" /></a>
          </div>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
